/* TABLET */
@media (max-width: 1024px) {
  .page-grid {
    grid-template-columns: 180px 1fr;
  }
}

/* MOBILE */
@media (max-width: 768px) {

  .topbar {
    padding: 0 16px;
  }

  main {
    padding: 40px 18px;
  }

  h1 {
    font-size: 2rem;
  }

  .sidebar {
    width: 220px;
  }

  .servicios-layout {
    grid-template-columns: 1fr;
  }

  .servicios-texto {
    max-height: none;
    overflow-y: visible;
  }

}
