/* TABLET */
@media (max-width: 1024px) {
  .page-grid {
    grid-template-columns: 180px 1fr;
  }
}

/* MOBILE */
@media (max-width: 768px) {

  .page-grid {
    display: block;
  }
  #site-nav {
    order: 1;
  }

  .sidebar {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .sidebar a {
    flex: 1 1 45%;
    text-align: center;
  }

  main {
    padding: 15px;
  }
}
